:global .vscode-dark .select [class*="-control"],
:global
  .vscode-high-contrast:not(.vscode-high-contrast-light)
  .select
  [class*="-control"] {
  border-color: transparent;
  background-color: var(--vscode-editorWidget-background);
}
:global .vscode-dark .select input,
:global .vscode-high-contrast:not(.vscode-high-contrast-light) .select input {
  caret-color: var(--vscode-foreground);
}
