.wrapper .title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--vscode-widget-border, transparent);
  font-weight: 500;
  padding: 0.5rem;
  margin: 0;
}

.codeblock {
  padding: 0;
  --code-bg: var(--vscode-textCodeBlock-background);
}
.codeblock :global(.card-body) {
  padding: 0;
}
.codeblock :global(pre) {
  background: var(--code-bg) !important;
  margin: 0 !important;
  border-radius: 0.5rem;
}
.codeblock :global(code) {
  background: var(--code-bg) !important;
  white-space: pre-wrap !important;
  font-family: var(--vscode-editor-font-family) !important;
  font-size: var(--vscode-editor-font-size, 13px) !important;
  line-height: 1.5 !important;
}
